body{
    background: #4a5a63;
}

.navbar{
    background: #333;
    ul.navbar-nav{
        li{
            a{
                color: #fff !important;
            }
            a.purple{
                background:#9c59b6;
            }
            a.blue{
                background: #1ab0c7;
            }
            a.violet{
                background: #585fad;
            }
            a.raspberry{
                background: #a23b6f;
            }
            a.yellow{
                background: #FF981D;
            }
            a.red{
                background: #e8252d;
            }
            a.green{
                background: #6dbf4a;
            }
        }
    }
}